.space
.container.text-center
  .row
    .col-md-6.col-md-offset-3
      %br
      %h1 Login as Care Group
      %br
      .col-md-12.text-danger
        = flash[:error]

        = form_for :volunteer, url: '/volunteers' do |f|
          .form-group
            = f.text_field :email, class: "form-control", placeholder: "Email"
          .form-group
            = f.password_field :password, class: "form-control", placeholder: "Password"
          .form-group
          %br
            = f.submit "Login", class: "btn btn-success"
