.container.center-align
  .row
    .col-s12-m6.offset-m3
      %br
      %h2 Login as Care Group
      %br
      .col-md-12.text-danger
        = flash[:error]

        = form_tag '/care_groups/login' do
          .form-group
            = text_field_tag :email
          .form-group
            = password_field_tag :password
          .form-group
          %br
            = submit_tag "Login", class: "btn btn-success"
