
.container.center-align
  .row
    .col-md-6.col-md-offset-3
      %br
      %h1 Login as Volunteer
      %br
      .col-md-12.text-danger
        = flash[:error]

        = form_tag '/volunteers/login' do
          .form-group
            = text_field_tag :email
          .form-group
            = password_field_tag :password
          .form-group
          %br
            = submit_tag "Login", class: "btn btn-success"
