.container.center-align
  .row
    .col-s12-m6.offset-m3
      %br
      %h2 New Member Registration
      %br
      .col-md-12.text-danger
        = flash[:error]

        = form_for :senior, url: '/care_groups/:care_group_id/seniors' do |f|
          .form-group
            = f.text_field :name, class: "form-control", placeholder: "Name"
          .form-group
            = f.text_field :location, class: "form-control", placeholder: "Location"
            .form-group
              = f.text_field :interests, class: "form-control", placeholder: "Interests"
              = f.hidden_field :image, :value => "http://i.imgur.com/9JlhmGx.png"
          .form-group
          %br
            = f.submit "Submit", class: "btn btn-success"
