<div class="center-align" style="margin-top: 30px;">
    <% if @current_volunteer == nil %>
      <%= link_to "Edit", edit_care_group_senior_path(@senior), class: "waves-effect waves-light btn"  %>
      <%= link_to "Delete", delete_care_group_senior_path, method: :delete, class: "waves-effect waves-light btn" %>
    <% end %>

    <%= link_to "Back", all_care_group_seniors_path, class: "waves-effect waves-light btn" %>

    <% if @current_care_group == nil %>
      <%= link_to "Request to visit this senior", new_senior_visit_path(@senior), method: :post, class: "waves-effect waves-light btn" %>
    <% end %>
</div>

<div class="row center-align container" style="width: 350px; height: auto; margin-top: 25px">
    <div class="card">
        <div class="card-image">
            <img src="http://i.imgur.com/9JlhmGx.png" style="width: 350px; height: 350px">
        </div>
        <div class="card-content">
            <p>About <%= @senior.name %></p>
        </div>
        <div class="card-action">
            <%= @senior.name %> is interested in <%= @senior.interests %>.
        </div>
    </div>
</div>
