<!DOCTYPE html>
<html>
    <head>
        <title>Welcome Wisdom App</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>

    <body>

        <nav>
  <div class="nav-wrapper teal lighten-1">
  <% if current_volunteer %>
    <ul id="dropdown1" class="dropdown-content">

        <li>
            <%= link_to 'My Profile', volunteer_path(current_volunteer) %>
        </li>
        <li>
            <%= link_to 'View all care groups', all_care_groups_path %>
        </li>
        <li>
            <%= link_to 'Log Out', destroy_volunteer_sessions_path, :method => :delete %>
        </li>
    </ul>
    <% elsif current_care_group == nil %>
    <ul id='dropdown1' class='dropdown-content'>
        <li>
            <a href="/volunteers/signup">Sign Up</a>
        </li>
        <li>
            <a href="/volunteers/login">Log In</a>
        </li>
    </ul>


</ul>
<% end %>

  <% if current_care_group %>
<ul id="dropdown2" class="dropdown-content">

    <li>
        <%= link_to 'My Profile', care_group_path(current_care_group) %>
    </li>
    <li>
        <%= link_to 'Log Out', destroy_care_group_sessions_path, :method => :delete %>
    </li>
  </ul>
  <% elsif current_volunteer == nil %>
  <ul id='dropdown2' class='dropdown-content'>
    <li>
        <a href="/care_groups/signup">Sign Up</a>
    </li>
    <li>
        <a href="/care_groups/login">Log In</a>
    </li>
  </ul>

<% end %>


    <a href="/" class="brand-logo">Welcome Wisdom</a>

    <ul class="right hide-on-med-and-down" id="dropdown_menu">
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" data-activates="dropdown1">Volunteer<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-button" data-activates="dropdown2">Care Group<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>

  </nav>
<div class="main">

</div>
<%- flash.each do |name, msg| -%>
<div class="teal lighten-5 center-align">
     <strong><%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %></strong>
   </div>

 <%- end -%>
    <%= yield %>


</body>


</html>
