<!DOCTYPE html>
<html>
    <head>
        <title>Welcome Wisdom App</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>

    <body>

        <nav>
  <div class="nav-wrapper teal lighten-1">
  <% if current_volunteer %>
    <ul id="dropdown1" class="dropdown-content">

        <li>
            <%= link_to 'My Profile', volunteer_path(current_volunteer) %>
        </li>
        <li>
            <%= link_to 'View all care groups', all_care_groups_path %>
        </li>
        <li>
            <%= link_to 'Log Out', destroy_volunteer_sessions_path, :method => :delete %>
        </li>
    </ul>
    <% elsif current_care_group == nil %>
    <ul id='dropdown1' class='dropdown-content'>
        <li>
            <a href="/volunteers/signup">Sign Up</a>
        </li>
        <li>
            <a href="/volunteers/login">Log In</a>
        </li>
    </ul>


</ul>
<% end %>

  <% if current_care_group %>
<ul id="dropdown2" class="dropdown-content">

    <li>
        <%= link_to 'My Profile', care_group_path(current_care_group) %>
    </li>
    <li>
        <%= link_to 'Log Out', destroy_care_group_sessions_path, :method => :delete %>
    </li>
  </ul>
  <% elsif current_volunteer == nil %>
  <ul id='dropdown2' class='dropdown-content'>
    <li>
        <a href="/care_groups/signup">Sign Up</a>
    </li>
    <li>
        <a href="/care_groups/login">Log In</a>
    </li>
  </ul>

<% end %>


    <a href="/" class="brand-logo">Welcome Wisdom</a>

    <ul class="right hide-on-med-and-down">
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" data-activates="dropdown1">Volunteer<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-button" data-activates="dropdown2">Care Group<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>

  </nav>
<div class="main">

</div>
<%- flash.each do |name, msg| -%>

     <strong><%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %></strong>

 <%- end -%>
    <%= yield %>


    <!-- <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer> -->
</body>


</html>
